@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --logoblue: #428FC2;
  --logopurple: #5D56A5;
  --darkpurple: #3d3782;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  font-family: 'Poppins',z sans-serif;
  background-color: #1f1f1f;
}

.button{
  background-color: var(--logopurple);
  height: 32px;
  justify-items: right;
}

.title-container {
  background-color: black;
  color: white;
  padding-top: 25px;
}

.wave {
  position: relative;
  height: 80px; 
}

.wave svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.title {
  font-size: 3.2vw;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.subheading {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.1vw;
  font-weight: 300;
}

.header {
  color: white;
  margin: 20px 0px 10px 70px; /* T R B L */
  padding: 0px 4px 0px 4px;
  font-size: 1.8vw;
  font-style: italic;
  display: inline-block;
  background-color: var(--logoblue);
  font-weight: 500;
}

.headerc {
  color: white;
  margin: 0px 0px 10px 70px; /* T R B L */
  padding: 0px 4px 0px 4px;
  font-size: 1.8vw;
  font-style: italic;
  display: inline-block;
  background-color: var(--logoblue);
  font-weight: 500;
}

.header2 {
  color: white;
  margin: 10px 0px 0px 70px; /* T R B L */
  padding: 0px 4px 0px 4px;
  background-color: var(--logopurple);
  display: inline-block;
  font-style: italic;
  font-size: 1.4vw;
  font-weight: 500;
}

.header3 {
  color: white;
  margin: 0px 0px 0px 70px; /* T R B L */
  padding: 0px 4px 0px 4px;
  font-size: 1.2vw;
  font-weight: 300;
}

.header4 {
  color: white;
  margin: 5px 0px 0px 70px; /* T R B L */
  padding: 0px 4px 0px 4px;
  font-size: 1vw;
  font-weight: 300;
}

.headerc, .header3, .header4 {
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.body {
  color: white;
  font-weight: 300;
  font-size: 0.95vw;
  margin: 10px 70px 0px 70px;
}

.buffer {
  padding: 30px;
}

.person {
  background-color: #282c34; 
  padding: 30px;
  border-radius: 10px;
  width: 20vw; 
  height: 120px;
  text-align: center; 
  display: flex;
  flex-direction: column;
}

.person-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
  margin: 30px auto;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.textbox {
  flex: 1;
  max-width: 75%;
  text-align: left;
}

.imgbox {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 40px;
  margin-top: 40px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  max-width: 90%; 
  padding: 20px;
}

.gifbox {
  margin: 10px 0px 10px 70px;
}

.fullwidth-section {
  width: 100%;
  margin: 0px 70px 0px 0px;
  box-sizing: border-box;
}

.buffer-small {
  padding: 10px;
}

.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ty-header {
  color: white;
  font-weight: 500;
  font-style: italic;
  font-size: 1.3vw;
  padding-bottom: 5px;
}

.ty-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
}

.italic {
  font-style: italic;
  display: inline-block;
  padding: 0px 4px 0px 4px;
}